[gcode_macro M106]
rename_existing: M106.1
gcode:
    {% if params.P is defined %}
		#part cooling
		{% if params.P|int == 1 %}
			_SET_FLAP_ENABLED ENABLED=1
			{% if params.S is defined %}
				MANUAL_STEPPER STEPPER=flap_stepper MOVE={params.S} SYNC=0
			{% else %}
				MANUAL_STEPPER STEPPER=flap_stepper MOVE=255 SYNC=0
			{% endif %}
		{% else %}
			M106.1 {rawparams}
        {% endif %}
    {% endif %}
